<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhandbookstore.mapper.BookMapper">


    <!--条件查询-->
    <select id="pageList" resultType="com.secondhandbookstore.pojo.Book">
        select *
        from book
        <where>
            <if test="type!=null">
                type=#{type}
            </if>

            <if test="name!=null and name!=''">
                and name like concat('%',#{type},'%')
            </if>

            <if test="author!=null">
                and author like concat('%',#{author},'%')
            </if>
        </where>
    </select>

    <select id="pageListByType" resultType="com.secondhandbookstore.pojo.Book">
        select *
        from book
        <where>
            type=#{type}
        </where>
    </select>

    <select id="pageListByRecommend" resultType="com.secondhandbookstore.pojo.Book">
        select *
        from book
        <where>
            recommend=#{recommend}
        </where>
        ORDER BY bookId desc
    </select>


    <!--批量删除操作-->
    <delete id="deleteBatch">
        delete
        from book
        where bookId in
        <foreach collection="bookIds" item="bookId" separator="," open="(" close=")">
            #{bookId}
        </foreach>
    </delete>

    <!--更新员工-->
    <update id="update">
        update book
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="author!=null and author!=''">
                author=#{author},
            </if>
            <if test="isbn!=null and isbn!=''">
                isbn=#{isbn},
            </if>
            <if test="type!=null and type!=''">
                type=#{type},
            </if>
            <if test="description!=null and description!=''">
                description=#{description},
            </if>
            <if test="status!=null and status!=''">
                status=#{status},
            </if>
            <if test="image!=null and image!=''">
                image=#{image},
            </if>
            <if test="price!=null and price!=''">
                price=#{price}
            </if>
        </set>
        where bookId=#{bookId}
    </update>
</mapper>