<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.secondhandbookstore.mapper.OrderMapper">

    <update id="updateOrder">
        update order
        <set>
            <if test="buyerId!=null and buyerId!=''">
                buyerId=#{buyerId},
            </if>
            <if test="deliveryAddress!=null and deliveryAddress!=''">
                deliveryAddress=#{deliveryAddress},
            </if>
            <if test="endTime!=null">
                endTime=#{endTime}
            </if>
        </set>
        where orderId=#{orderId}
    </update>

    <update id="updateOrderEnd">
        update order1
        <set>
            <if test="endTime!=null">
                endTime=#{endTime},
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
        </set>
        where orderId=#{orderId}
    </update>

    <select id="pageList" resultType="com.secondhandbookstore.pojo.Order">
        select *
        from order1
        <where>
            <if test="address!=null and address!=''">
                address like concat('%',#{address},'%')
            </if>
            <if test="beginTime!=null and endTime!=null">
                and beginTime between #{beginTime} and #{endTime}
            </if>
        </where>
        order by orderId desc
    </select>

    <select id="listDifStatus" resultType="com.secondhandbookstore.pojo.Order">
        select *
        from order1
        <where>
            <if test="buyerId!=null and buyerId!=''">
                buyerId=#{buyerId}
            </if>
            <if test="status!=null and status!=''">
                and status=#{status}
            </if>
        </where>
        order by orderId desc
    </select>
</mapper>